/**
 * @package WordPress
 * @subpackage SP Google Maps
 * @version 1.0
 * @since SP Google Maps 1.0
 */
.group-container{
	width: 100%; position:relative; display:block;
}
.box-group{
	margin: 10px auto;
	position: relative;
	display: block;
}
.box-label{
	width: 25%; position:relative;display:block;float:left;margin: 0 auto;
}
.box-field{
	width: 75%; position:relative;display:block;float:left;margin: 0 auto;
}
.box-field > code{
	position:relative;
	display:block;
	margin-top: 10px;
}
.map-preview{
	margin: 10px auto;
	width: 100%;
	float: left;
	position: relative;
	display:blokc;
}
.map-preview > p {
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
}
#pano,
#map{
	width:80%;height:400px;Margin:0 auto;
}

.cf:before,
.cf:after {
	content:"";
	display:table;
}
.cf:after {
	clear:both;
}
.cf {
	zoom:1; /* For IE 6/7 (trigger hasLayout) */
}